.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.clock-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.controls-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 20px;
}

.margin-small {
  margin: 5px;
}